.box {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black

}
.video {
  width: 900px;
}
.controller {
  height: 50px;
}
.system {
  display: flex;
  flex-direction: column;
  float: right;
  width:800px;
  border: 2px solid black;
}